html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.paralax {
	position: relative;
	height: 100%;
}

.paralax-mountain {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.paralax-mountain-1 {
	background: url(../public/m_1.png) 0 0 / cover no-repeat;
}

.paralax-mountain-2 {
	z-index: 1;
	background: url(../public/m_2.png) bottom right / 45% no-repeat;
}

.paralax-mountain-3 {
	z-index: 1;
	background: url(../public/m_3.png) left bottom / 100% no-repeat;
}

.paralax-fog {
	background: url(../public/fog_1.png) bottom / 100% no-repeat;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

.content {
	position: relative;
}

.content-body {
	min-width: 1170px;
	margin: 0 auto;
}

.content-header {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 0 20px;
}

.content-title {
	font-size: 200px;
}

.content-subtitle {
	font-size: 120px;
}

.content-article {
	background-color: rgba(225, 225, 225, 0.3);
	padding: 25px;
	font-size: 18px;
	line-height: 24px;
}

.content-article p {
	margin-bottom: 20px;
}
